# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Env & secrets
.env
.venv/

# Django
db.sqlite3
staticfiles/
media/

# VSCode / PyCharm
.vscode/
.idea/

# Byte-compiled / cache
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python

# Docker
*.pid
pgdata/
